@import url('style.css');


form{
    width: 70vw;
    height: 60vw;
    border: 2px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}

form input{
    background-color: var(--first-color);
    border: 1px solid var(--text-color);
    padding: 7px;
    color: var(--text-color);
    border-radius: 10px;
}

form input[type="submit"]{
    border: none;
    background-color: var(--second-color);
font-weight: bolder;
padding: 10px 25px;
}

form input[type="submit"]:hover{
    padding: 10px 40px;
}

form a{
    color: var(--text-color);
}

form a:hover{
    color: var(--second-color);
}
